.Nav {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    padding-top: 150px;
    display: grid;
    width: 233px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.Nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Nav-li:first-child,
.Nav-ul li:first-child {
    border-top: #22252c 1px solid;
}

.Nav-li,
.Nav-ul li {
    display: flex;
    flex-direction: column;
    border-bottom: #22252c 1px solid;
}

.Nav-header {
    color: white;
    margin: 25px 0 25px 0;
    padding: 15px;
}

.Nav-link {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 13px;
}

.Nav-link:hover {
    background: #22252c;
}

.Nav .is-active {
    color: rgb(211, 211, 211);
    background-color: #22252c;
}

@media screen and (max-width: 700px) {
    .Nav {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        padding-top: 0;
    }

    .Nav-ul li {
        display: inline-flex;
    }
}

@media screen and (max-width: 400px) {
    .Nav a {
        text-align: center;
        display: flex;
    }
}