.App {
    background-color: #282c34;
}

.App-content {
    margin-left: 233px;
    background-color: #282c34;
}

.App-button {
    background-color: rgb(230, 230, 230);
    border: none;
    display: inline-block;
    border: 1px rgb(214, 214, 214) solid;
    border-radius: 2px;
    font-size: 15px;
    padding: 7px 15px;
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .App-content {
        margin-left: 0;
    }
}